.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-brush {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-call {
	font-size:calc(21/10)*1rem;
	width:calc(14/21)*1em;
}
.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-gear {
	font-size:calc(32/10)*1rem;
	width:calc(32/32)*1em;
}
.icon-mail {
	font-size:calc(15/10)*1rem;
	width:calc(19/15)*1em;
}
.icon-mapmark {
	font-size:calc(21/10)*1rem;
	width:calc(17/21)*1em;
}
.icon-materials {
	font-size:calc(30/10)*1rem;
	width:calc(33/30)*1em;
}
.icon-money {
	font-size:calc(32/10)*1rem;
	width:calc(32/32)*1em;
}
.icon-ok {
	font-size:calc(29/10)*1rem;
	width:calc(34/29)*1em;
}
.icon-tgbottom {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
.icon-tgtop {
	font-size:calc(24/10)*1rem;
	width:calc(25/24)*1em;
}
.icon-treaty {
	font-size:calc(30/10)*1rem;
	width:calc(29/30)*1em;
}
.icon-vkbottom {
	font-size:calc(17/10)*1rem;
	width:calc(31/17)*1em;
}
.icon-vktop {
	font-size:calc(17/10)*1rem;
	width:calc(31/17)*1em;
}
.icon-wabottom {
	font-size:calc(22/10)*1rem;
	width:calc(22/22)*1em;
}
.icon-watop {
	font-size:calc(22/10)*1rem;
	width:calc(22/22)*1em;
}
