header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.svg", alt="") 
			.header_menu 
				ul
					li 
						a(href="#") Проекты
					li 
						a(href="#") Преимущества
					li 
						a(href="#") О нас
					li 
						a(href="#") Этапы работы
					li 
						a(href="#") FAQ
					li 
						a(href="#") Отзывы
					li 
						a(href="#") Контакты
			.header_mobil 
				a(href="#") 
					p +7 (927) 466-33-39



				