header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.svg", alt="") 
			.header_menu 
				ul
					each item in ['Проекты', 'Преимущества', 'О нас', 'Этапы работы', 'FAQ', 'Отзывы', 'Контакты']
						li 
							a(href="#")=item 
			.header_mobil 
				a(href="#" class="yellow") +7 (927) 466-33-39



				